<h1 id="title">Buy Chicago!</h1>

<div class = "container">
  <div class="row">
    <div class="col-md-9 col-md-push-3">
      

      <h2>Did you know that there are thousands of city of Chicago owned vacant buildings and lots available for purchase?<br><em>Buy Chicago</em> Can help you find properties that are available. </h2>
      <br>
      <h2>Use the form below to search available properties.</h2>
      <p>If you see a property you are interested in make note of the adress and pin Number. Use the resoures listed <a href="https://www.cityofchicago.org/city/en/depts/dcd/supp_info/city-owned-land-sale-programs.html">here</a> to inquire about purchasing: </p>
      <form id="search" class="input-group" method="POST">
        <input id="search-input" name="q" type="text" class="query form-control" placeholder="Search by adress, zip code, or neighborhood" />
      </form>
      <br>
      <br>
      <br>

      <ul id="map"></ul>
    
      
    </div>
    <div class="col-md-3 col-md-pull-9">
      <div class = "login-form">
        {{!-- <form method="post" action="/">
          <h3>Sign In</h3>
          <input  id="form-username" type="text" name="email" placeholder="username" value="">
          <input id="form-password" type="text" name="password" placeholder="password" value="">
          </br>
          <button class = "login-btn">login</button>
        </form> --}}
      </div> 
      <div id="property-info">

      </div> 
    </div>
  </div> 
</div>
