<h1>Hello I am working</h1>

<div class = "container">
  <div class="row">
    <div class="col-md-9 col-md-push-3">Content
      <h1>Buy Chicago!</h1>

      <p>Did you know that there are hundreds of city of Chicago owned vacant buildings available for purchase?<em>Buy Chicago</em> Can help you find properties that are available and also provide guidance on the purchase process.</p>

      <form id="search" class="input-group" method="POST">
        <input name="q" type="text" class="query form-control" placeholder="Search by adress or zip code" />
      </form>

      <ul id="map"></ul>
    
      
    </div>
    <div class="col-md-3 col-md-pull-9">Sidebar
      <div class = "login-form">
        <form method="post" action="/">
          <h3>Sign In</h3>
          <input  id="form-username" type="text" name="email" placeholder="username" value="">
          <input id="form-password" type="text" name="password" placeholder="password" value="">
          </br>
          <button class = "login-btn">login</button>
        </form>
      </div>  
    </div>
  </div> 
</div>
