<h1>Register for Buy Chicago!</h1>
<div>
  <p> By Registering with Buy Chicago and  creating an account, you unlock great features! Create a list of properties you're interested in, access our users only area with great advice on purchasing these properties, paricipate in the forum and discuss. </p>
</div>
<div class="regstration-form">
<form method="post" action="/userregistration">
  <input type="text" name="name" placeholder="Name" value="">
  <br />
  <br />
  <input type="text" name="email" placeholder="Email" value="" />
  <br />
  <br />
  <input type="text" name="username" placeholder="Username" value="" />
  <br />
  <br />
  <input type="password" name="password" placeholder="Password" value="" />
  <br />
  <br />
  <button id="user-register" type="submit">Register</button>
</form>
</div>
