html, body {
  background-color: #F5F5DC;
}
.row {
  border: 10px;
}

#map {
  width: 800px;
  height: 600px;
  background-color: #CCC;
}

#title {
  text-align: center;
}

footer {
  text-align: center;
}

#search-input {
  width: 450px;
  height: 50px;

}
